<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chatme_doan">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name="com.example.chatme_doan.activity.AddMemberActivity"></activity>
        <activity
            android:name="com.example.chatme_doan.activity.GroupInfoActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.example.chatme_doan.activity.GroupMessageActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.example.chatme_doan.activity.CreateGroupActivity" />
        <activity android:name="com.example.chatme_doan.activity.UserInfo" />
        <activity
            android:name="com.example.chatme_doan.MessageActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.example.chatme_doan.activity.EditName" />
        <activity android:name="com.example.chatme_doan.activity.DashBoard" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.example.chatme_doan.activity.MainActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.example.chatme_doan.activity.SplashActivity"
            android:theme="@style/NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.chatme_doan.services.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.chatme_doan.services.SendMediaService"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>